.speech{
font: 100;
font-family: 'Courier New', Courier, monospace;
font-size: medium;
color: black;
}
.direction{
font: 150;
font-size: larger;
color: black;
background-color:aqua;

}
.name:hover{
    color: rgb(76, 0, 255);
    filter: blur(1px);
    border: 1px solid rgb(43, 141, 226);
    text-shadow: 2px 3px 5px peru;

}
.direction:hover{
background-color: rgb(252, 151, 151);
color:blue;

}
.misstesman{
color:green;

}
.Hedda{
color: burlywood;

}

table{
    border: 2cm solid red;
    color:rgb(205, 230, 66);
    text-align: end;
    padding: 3cm;
    margin: 3px;


}
tr:nth-child(odd){
    background-color:rgb(122, 127, 122);
}

.navbar{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(45, 172, 172);
    display:flex;
    justify-content:center;
    padding: 10px;

}
.navbar a{
    color: rgb(95, 95, 12);
    text-decoration: none;
    font-size: 20px;
    padding: 3px 10px;

}
.navbar a:hover{
    background-color: rgb(233, 230, 237);
}

