.speech{
font: 100;
font-family: 'Courier New', Courier, monospace;
font-size: medium;
color: black;
}
.direction{
font: 200;
font-size: larger;
color: black;
background-color:aqua;

}
.name:hover{
    color: gold;
    text-shadow: 2px 3px 5px peru;

}
.direction:hover{
background-color: red;
color:blue;

}
.misstesman{
    color:green;

}
.Hedda{
    color: burlywood;

}

table{
    border:2cm solid red;
    color:blueviolet;
    text-align: center;
    padding: 2cm;
    margin: 3px;


}
tr:nth-child(odd){
    color:green;
}